<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Narrow Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/index">Home</a></li>
            <!-- <li role="presentation"><a href="#">About</a></li> -->
            <li role="presentation"><a href="mailto:customer@company.com">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Reseller Detector</h3>
      </div>
      <div class="jumbotron">
      <font color="blue"><h1>Notice: </h1></font>
        <p class="lead"> <b>
          Dear customers,
          <br/>
          <br/>

          We want as many customers as possible to be able to enjoy the items we sell, and so for some popular items we’ve limited the quantity that may be purchased from our store.
          We have put these limits in place for several reasons and to ensure a fair experience for all of our customers, we must strictly enforce them.
          Based on our recent investigation, we’ve noticed that multiples accounts have exceeded that limit with the orders on multiple accounts. Effective immediately, the accounts
          are closed and will no longer be able to shop in our store.
          <br/>
          <br/>
          To check the status of your account, please enter your user ID.
          If you have any questions, please <a href="mailto:customer@company.com">contact</a> the customer service.   </b></p>

        <br/>
        <br/>
        <form action="/query">
          <input type="text" id="" name="query" placeholder="type your ID ">
          <br/>
          <br/>
          <p><input class="btn btn-lg btn-success" role="button" type="submit" value="Check your ID status"> </p>
        </form>

      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4><a href="/ip">IP Address</a></h4>
          <p></p>
          <h4><a href="/mac">MAC Address</a></h4>
          <p></p>
        </div>

        <div class="col-lg-6">
          <h4><a href="/card">Credit Card</a></h4>
          <p></p>

          <h4><a href="/phone">Cell Phone</a></h4>
          <p></p>

        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2018 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
